.jumbotron{
	background-color:rgb(52, 197, 173);
}
body {
	background-color: aquamarine;
}

h1 {
	text-align: center;
	margin-left: 40px;
} 
#panel3, #flip3{
	padding: 5px;
	text-align: center;
	background-color: rgb(52, 197, 173);
	border: solid 1px #c3c3c3;
	
}
#panel3{
	background-color: aliceblue;
	display: none;
}
#panel, #flip, #panel2, #flip2 {
	padding: 5px;
	text-align: center;
	background-color: rgb(52, 197, 173);
	border: solid 1px #c3c3c3;
}

#panel,#panel2{
	background-color: aliceblue;
	display: none;
}
.container{
	background-color:aquamarine;
	color: black;
}
img{
	display: block;
	width: 180px;
	height: 180px;
	background-image: aqua;
	margin-left: auto;
	margin-right: auto;
}
.preload{
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	transform: translate(-50%,);
}
.mycontent{
	display: none;
}