{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title> BOOK </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'myscripts.js'%}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head> 

<body>
    <div class = "preloader">
        <img src = "{% static 'spinner.gif' %}">
    </div>

    <div class = "mycontent">
        <div class="jumbotron">
            <h2 style="font-size:300%; text-align: center">My Book</h2>
        </div>
        {% if user.is_authenticated %}
            <h2 style="font-size : 30px;text-align: center" > Welcome, {{ user.first_name }} {{user.last_name}} !</h2><br>
        {% endif %}

        <div class = "btngrup" style = "text-align: center">
            <button type="button" class="btn btn-info" onclick="window.location.href='/myprofile'"> My Profile </button>
            <button type="button" class="btn btn-info" onclick="window.location.href='/registration'">Registration </button>
            <button type="button" class="btn btn-info" onclick="window.location.href='/'"> Status </button>
            <button type="button" class="btn btn-info" onclick="window.location.href='/books'"> Books </button>
        </div>

        <div class = "container">
            {% if user.is_authenticated %}
                <a type="button" class="btn btn-danger" href="{% url 'status:logout' %}">Logout</a>
            {% else %}
                <a type="button" class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">Log in with Google</a>
            {% endif %}
        </div>

        <div class = "container">
            <h2 id= "jumlahBuku" style = "text-align: center">
                <i class='fa fa-star'style = 'color : yellow'> </i> 0 
            </h2>

            <form>
                <input type="text" name="search_field">
            </form>

            <br>

            <table class = "table-responsive table table-stripped" id = "tableBuku"> 
            </table>
        </div>
    </div>

</body>
</html>
    