{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Status</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="{% static 'myscripts.js'%}"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>

<body>
    <div class = "preloader">
        <img src = "{% static 'spinner.gif' %}">
    </div>

    <div class = "mycontent">
        <div class="jumbotron">
            <h2 style="font-size : 50px; text-align: center" > Hello, Apa kabar? </h2>
        </div>
        <div class = "btngrup" style = "text-align: center">
            <button type="button" class="btn btn-info" onclick="window.location.href='/myprofile'"> My Profile </button>
            <button type="button" class="btn btn-info" onclick="window.location.href='/registration'">Registration </button>
            <button type="button" class="btn btn-info" onclick="window.location.href='/'"> Status </button>
            <button type="button" class="btn btn-info" onclick="window.location.href='/books'"> Books </button>
        </div>

        <div class = "container">
            {% if user.is_authenticated %}
                <a type="button" class="btn btn-danger" href="{% url 'status:logout' %}">Logout</a>
            {% else %}
                <a type="button" class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">Log in with Google</a>
            {% endif %}
        </div>
        <br>
        <section>
            <div class="row">
                <div class = "col-md-3">
                </div>
                <div class="col-md-6 col-md-offset-6">
                    <div class="form-regis">
                        <form id="form" method="POST" action = "{% url 'status:add_status' %}">
                            {% csrf_token %}
                            {{form}}
                            <br>
                            <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <div class = "container">
            <div class="table-responsive">
                {% if status %}
                <table class = "table table-hover">
                    <thead>
                        <th> Status </th>
                        <th> Date </th>
                    </thead>
                    {% for data in status %}
                    <tr>
                        <td> {{ data.status }} </td>
                        <td> {{ data.date }} </td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <h2> No Status </h2>
                {% endif %}
            </div> 
        </div> 
    </div>   
</body>
</html>