{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="{% static 'myscripts.js'%}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>

<body>
    <div class = "preloader">
        <img src = "{% static 'spinner.gif' %}">
    </div>

    <div class = "mycontent">
        <div class="jumbotron">
            <h1 style="font-size : 50px" > Hello, Apa kabar? </h1>
        </div>
        <div class = "btngrup" style = "text-align: center">
            <button type="button" class="btn btn-info" onclick="window.location.href='/myprofile'"> My Profile </button>
            <button type="button" class="btn btn-info" onclick="window.location.href='/registration'">Registration </button>
            <button type="button" class="btn btn-info" onclick="window.location.href='/'"> Status </button>
            <button type="button" class="btn btn-info" onclick="window.location.href='/books'"> Books </button>
        </div>
        <br>
        <section>
            <div class="row">
                <div class = "col-md-3">
                </div>
                <div class="col-md-6 col-md-offset-6">
                    <div class="form-regis">
                        <form id="form" method="POST" action = "{% url 'status:login' %}">
                            {% csrf_token %}
                            Username:<br>
                            <input type="text" name="username"><br>
                            Password:<br>
                            <input type="password" name="password"><br><br>
                            <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>   
</body>
</html>