{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>I Made Adisurya Nugraha</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'myscripts.js'%}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head> 

<body>
    <div class = "preloader">
        <img src = "{% static 'spinner.gif' %}">
    </div>

    <div class = "mycontent">
        <div class="jumbotron">
            <img src= "{% static 'foto.jpg' %}">
            <h2 style="font-size:300%; text-align: center">I Made Adisurya Nugraha</h2>
        </div>
        <div class = "btngrup" style = "text-align: center">
            <button type="button" class="btn btn-info" onclick="window.location.href='/myprofile'"> My Profile </button>
            <button type="button" class="btn btn-info" onclick="window.location.href='/registration'">Registration </button>
            <button type="button" class="btn btn-info" onclick="window.location.href='/'"> Status </button>
            <button type="button" class="btn btn-info" onclick="window.location.href='/books'"> Books </button>
        </div>

        <div class = "container">
            {% if user.is_authenticated %}
                <a type="button" class="btn btn-danger" href="{% url 'status:logout' %}">Logout</a>
            {% else %}
                <a type="button" class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">Log in with Google</a>
            {% endif %}
        </div>
        <br>
    
        <div class = "container">
            <button type="button" class="btn btn-info" id = "ubahbutton"> Ubah Tema!</button> <br>

            <h1 id = "flip" style="font-size : 20px"> About Me </h1>
            <div id= "panel">
                <p style="text-align :center"> Hello, my name is I Made Adisurya Nugraha. I am an Information System student in Faculty
                of Computer Science, University of Indonesia. Now i am in the third term of my college. 
                In this term, i have to study about web programming called "PPW". Now i am struggling so 
                hard to try make this web, because i never learned about design and web programming
                before. I hope i could finished this subject and get the best score. Wish me luck !
                </p>
            </div>
    
            <h1 id = "flip2" style="font-size : 20px"> Experience </h1>
            <div id = "panel2">
                <ul>
                    <br>
                    <li>Anggota MPK SMAN 3 Depok</li>
                    <li>PO Coss Camp SMAN 3 Depok</li>  
                    <li>VPO UI Goes to School</li> 
                    <li>Staff Seminar COMPFEST X</li>
                    <li>PO KMHD Art Competition 2018</li>
                    <br>
                </ul>
            </div>
    
            <h1 id = "flip3" style="font-size : 20px"> Achievement </h1>
            <div id = "panel3">
                <ul>
                    <br>
                    <li>Finalis National Logic Competition 2016</li>
                    <li>Olimpiade Sains Kota Matematika 2015 2016</li>  
                    <li>40 Besar Pesta Sains Nasional bidang Matematika</li> 
                    <li>Penyisihan 2 lomba matematika LOGIKA 2016</li>
                    <br> 
                </ul>
            </div>
    
        </div>
    </div>

</body>
</html>
    